@model FeedMe.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()

     
                <legend>Alterar Senha</legend>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            @Html.PasswordFor(m => m.OldPassword, new {@placeholder = "Senha actual"})
                        </div>
                           @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            @Html.PasswordFor(m => m.NewPassword, new {@placeholder = "Senha nova"})
                        </div>
                           @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                           @Html.PasswordFor(m => m.ConfirmPassword, new {@placeholder = "Confirme a senha"})
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Alterar</button>
                    </div>
                </div>
                <div id="ValidationMessages">
                    <p>@Html.ValidationSummary(true)
                </div>
}