@model FeedMe.Models.RegisterModel
@{
    ViewBag.Title = "Registe-se";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="well register_form">
			 <legend>@ViewBag.Title</legend>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Nome de utilizador" })
                        </div>
                    </div>
                     @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password,new { @placeholder = "Senha nova" })
                        </div>
                    </div>
                     @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-lock"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword,new { @placeholder = "Confirme a senha" })
                        </div>  
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Criar conta</button>
                    </div>
                </div>
			<div id="ValidationMessages">
				@Html.ValidationSummary(true)
			</div>
        </div>
    </div>
        
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
